.container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.skeleton-paragraph {
  height: 16px;
  background: linear-gradient(90deg,rgba(190,190,190,.2) 25%,rgba(129,129,129,.24) 37%,rgba(190,190,190,.2) 63%);
  background-size: 400% 100%;
  animation: loading 1.3s ease infinite;

  .short {
    width: 65%;
  }
}

@keyframes loading {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}