.container {
  --size: 24px;

  width: var(--size);
  height: var(--size);

  background-size: cover;
  background-position: top center;
  color: #fff;

  border-radius: 50%;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
}