.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 1000;
  background-color: #00000073;

  display: flex;
  align-items: center;
  justify-content: center;

  &.hide {
    display: none;
  }
}

.content {
  width: 100%;
  max-width: 520px;
  min-height: 320px;

  border-radius: 12px;
  background-color: #fff;
}