.wrapper {
  margin-top: 16px;
  padding: 16px;
  background-color: #274059;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  column-gap: 16px;
  row-gap: 16px;

  &.no-padding-left {
    padding: 16px 0;
  }
}

.container {
  display: flex;
  align-items: flex-start;
  column-gap: 16px;
  row-gap: 16px;
}

.content {
  flex: 1;
  color: #fff;
}

.text {
  flex: 1;
  white-space: pre-wrap;
}
.name {
  color: #9cb3c9;
  cursor: pointer;
  &:hover {
    color: #fff;
  }
}
.reply {
  display: inline-block;
  margin-top: 12px;
}
.htmlContent {
  // word-wrap: break-word;
  overflow-wrap: break-word;
  width: 80%;
}
.load-more {
  color: #fff;
  cursor: pointer;
}