.container {
  padding: 16px;
  width: 100%;

  background-color: #274059;
  color: #fff;

  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.title {
  color: #fff;
  cursor: pointer;

  font-weight: 500;
  font-size: 21px;
}
.url {
  color: #9cb3c9;
}

.detail {
  display: flex;
  align-items: center;
  column-gap: 8px;

  color: #9cb3c9;
}